{% extends "base.html" %}
{% block title %}Custom 403{% endblock %}
{% block content %}
    <h1>Custom 403</h1>
    <p>
      Oops! Ошибка 403. Доступ к указанному ресурсу ограничен.<br/>
      Если Вы уверены, что доступ к указанному ресурсу у Вас должен быть,<br/>
      попробуйте очистить кэш и/или файлы cookie Вашего браузера.<br/>
      Также вы всегда можете отправить нам письмо на support@yatube.ru,<br/>
      сообщив о проблеме. Мы поможем разобраться.<br/>
      А пока мы разбираемся, Вы можете вернуться <a href="{% url 'posts:index' %}">на главную</a>.
    </p>
{% endblock %}