{% extends "base.html" %}
{% block title %}Custom 404{% endblock %}
{% block content %}
  <h1>Custom 404</h1>
  <p>Страницы с адресом {{ path }} не существует.<br/>
    Возможно, в адресе есть опечатка.<br/>
    Также вы всегда можете отправить нам письмо на support@yatube.ru,<br/>
    сообщив о проблеме. Мы поможем разобраться.<br/>
    А пока мы разбираемся, Вы можете вернуться <a href="{% url 'posts:index' %}">на главную</a>.
  </p>
  <a href="{% url 'posts:index' %}"> Вернитесь на главную</a>
{% endblock %} 