{% extends 'base.html' %}

{% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}
                  Редактировать запись
                {% else %}
                  Добавить запись
                {% endif %}           
              </div>
              <div class="card-body">        
                <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}           
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      {{form.text.label}}               
                      <span class="required text-danger" >*</span>                  
                    </label>
                    {{ form.text }}               
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>                  
                  </div>            
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      {{form.group.label}}                  
                    </label>
                    {{ form.group }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_image">
                      {{form.image.label}}                      
                    </label>
                    {% if is_edit %}
                      {% if post.image.url != NULL %}
                      На данный момент:
                        <a href="{{post.image.url}}">Открыть картинку</a>
                        <input type="checkbox" name="image-clear" id="image-clear_id">
                        <label for="image-clear_id">Очистить</label><br>
                      {% endif %}
                      Изменить:
                      <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
                    {% else %}
                      <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
                    {% endif %}                      
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}